<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>使用flex进行居中布局</title>
		<style>
			.wrap {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 400px;
				height: 400px;
				background-color: aqua;
			}
			.content {
				width: 80px;
				height: 80px;
				background-color: blueviolet;
			}
		</style>
	</head>
	<body>
		<!-- 
			分析：使用flex，水平垂直居中会变得非常容易，默认情况下，align-items: center垂直居中（交叉轴排列方式），
			justify-content: center水平居中（主轴排列方式）
			
			注意：需要考虑浏览器兼容性问题。
		 -->
		<div class="wrap">
			<div class="content"></div>
		</div>
	</body>
</html>
