<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>使用display: table布局</title>
		<style>
			.w {
				display: table;
			}
			.col {
				display: table-cell;
				width: 20%;
			}
			.col1 {
				background-color: blue;
			}
			.col2 {
				background-color: blueviolet;
			}
			 .col3 {
				background-color: aqua;
			}
			 .col4 {
				background-color: beige;
			}
			 .col5 {
				background-color: salmon;
			}
		</style>
	</head>
	<body>
		<!--
			分析：父元素设置display: table，子元素设置display: table-cell，这样布局就是按照表格行为布局，表格单元格默认等高。
		 -->
		<div class="w">
			<div class="col col1">啊啊啊啊啊啊啊啊啊啊啊啊</div>
			<div class="col col2">啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</div>
			<div class="col col3">啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</div>
			<div class="col col4"></div>
			<div class="col col5">啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</div>
		</div>
	</body>
</html>
