body {
	color: #000;
	background-color: #fff;
}
input.invalid {
	background-color: #ff9;
	border: 2px red inset;
}
input.invalid:focus {
	outline: none;
}
label.invalid {
	color: #f00;
	font-weight: bold;
}
